
.puertoRico {
    background-color: #000814;
    color: #ffc300;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    .left{
        margin-top: 70px;
        .container{
            color:#ffc300;
        }
    }
}