@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;500;600;700&display=swap');

* {
    font-family: 'Comfortaa', cursive;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: skyblue;
    white-space: nowrap;
}
body {
    background-image: url('./img/LaPerlaSanJuan.jpeg');
    background-size: cover;
    min-height: 100vh;
}

.bOIxRQ:hover {
    background-color: lightcoral;
    border-radius: 30px;
}